@use '@angular/material' as mat;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    // override the button styles
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        @apply .button;
    }
}

// Core font styles
html, body {
    font-family: 'Inter', sans-serif; /* Use your preferred font */
    font-size: 1rem; /* Base font size */
    line-height: 1.5;
    color: #333; /* Default text color */
}

.text-primary {
    color: #ec6720 !important;
}

// Core button class for reuse
.button {
    width: 100%; /* w-full */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid #ec6720; /* Orange-brown border */
    color: #ec6720;
    background: none;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: #ec6720;
        color: #fff; /* White text on hover */
    }
}

.second-button {
    width: 100%; /* w-full */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ec6720;
    border: 2px solid #ec6720;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: #fff;
        border: 2px solid #ec6720; /* Orange-brown border */
        color: #ec6720;
    }
}

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}