<section class="cart-section">
    @if (cartService.cart()?.items?.length! > 0) {
    <div class="cart-container">
        <div class="cart-layout">
            <div class="cart-items">
                @for (item of cartService.cart()?.items; track item.productId) {
                    <app-cart-item [item]="item"></app-cart-item>
                }
            </div>  
        </div>
            <div class="order-summary">
                <app-order-summary></app-order-summary>
            </div>       
    </div>
    } @else {
        <app-empty-state></app-empty-state>
    }
</section>