@if (product) {
  <mat-card appearance="raised" routerLink="/shop/{{product.id}}" class="product-card">
      <img src="{{product.pictureUrl}}" alt="Product image">
      <mat-card-content class="product-content">
          <h2 class="product-title">{{product.name}}</h2>
          <p class="product-price">{{product.price | currency}}</p>
      </mat-card-content>
      <mat-card-actions class="product-actions" (click)="$event.stopPropagation()">
          <button class="button" (click)="cartService.addItemToCart(product)">
              <mat-icon>add_shopping_cart</mat-icon>
              Add to cart
          </button>
      </mat-card-actions>
  </mat-card>
}
