.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    height: 35rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}

.product-card img {
    width: 100%; /* Responsive */
    max-height: 20rem; /* Increased height */
    object-fit: contain; /* Prevent distortion */
    border-radius: 0.5rem;
}

.product-content {
    text-align: center;
    padding: 0.75rem 0;
}

.product-title {
    font-size: 1.125rem; /* Slightly bigger */
    font-weight: bold;
    text-transform: uppercase;
}

.product-price {
    font-size: 1rem; /* Bigger for readability */
    font-weight: lighter;
}

.product-actions {
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
}