.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-image {
    width: 100%;
    border-radius: 0.5rem;
}

.product-content {
    margin-top: 0.5rem; /* mt-2 */
}

.product-title {
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    text-transform: uppercase; /* uppercase */
}

.product-price {
    font-weight: 300; /* font-light */
}

.product-actions {
    margin-top: 1rem;
}

