<header>
    <div class="header-container">
        <img src="/images/logo.png" alt="app logo">
        <nav class="nav-links">
            <a>Home</a>
            <a>Shop</a>
            <a>Contact</a>
        </nav>
        <div class="header-actions">
            <a matBadge="5" matBadgeSize="large" class="custom-badge">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            <button class="button login-button">Login</button>
            <button class="button register-button">Register</button>
        </div>
    </div>
</header>
