<header>
    <div class="header-container">
        <img routerLink="/" src="/images/logo.png" alt="app logo">
        <nav class="nav-links">
            <a routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Home</a>
            <a routerLink="/shop" routerLinkActive="active">Shop</a>
            <a>Contact</a>
            <a routerLink="/test-error" routerLinkActive="active">Errors</a>
        </nav>
        <div class="header-actions">
            <a routerLink="/cart" routerLinkActive="active" 
            matBadge="{{cartService.itemCount()}}" 
            class="custom-badge">
                <mat-icon>shopping_cart</mat-icon>
            </a>         
            @if (accountService.currentUser()) {
                <button class="button" [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
                    <span>{{accountService.currentUser()?.email}}</span>
                </button>
            } @else {
                <button class="button login-button" routerLink="/account/login">Login</button>
                <button class="button register-button" routerLink="/account/register">Register</button>
            }
        </div>
    </div>
    @if (busyService.loading) {
    <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
    }
</header>

<mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item class="menu-item" routerLink="/cart">
        <mat-icon class="menu-icon">shopping_cart</mat-icon>
        My cart
    </button>
    <button mat-menu-item class="menu-item" routerLink="/orders">
        <mat-icon class="menu-icon">history</mat-icon>
        My orders
    </button>
    <button mat-menu-item class="menu-item" (click)="logout()">
        <mat-icon class="menu-icon">logout</mat-icon>
        Logout
    </button>
</mat-menu>
