<section *ngIf="signalrService.orderSignal() as order"  class="order-confirmation">
    <div class="order-content">
        <h2 class="order-title">Thanks for your fake order!</h2>
            <p class="order-message">Your order 
                <span class="order-number">
                    #{{order.id}}
                </span>
            will never be processed as this is a fake shop. We will not notify you once your order has not shipped.
        </p>
        
        <div class="order-details">
            <dl class="order-row">
                <dt>Date</dt>
                <dd>
                    {{order.orderDate | date: 'medium'}}
                </dd>
            </dl>
            <dl class="order-row">
                <dt>Payment method</dt>
                <dd>
                    {{order.paymentSummary | paymentCard}}
                </dd>
            </dl>
            <dl class="order-row">
                <dt>Address</dt>
                <dd>
                    {{order.shippingAddress | address}}
                </dd>
            </dl>
            <dl class="order-row">
                <dt>Amount</dt>
                <dd>
                    {{order.total | currency}}
                </dd>
            </dl>
        </div>

        <div class="order-buttons">
            <button routerLink="/orders/{{order.id}}" class="second-button">View your order</button>
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>
    </div>
</section>

<section *ngIf="!signalrService.orderSignal()" class="order-processing"> 
    <div class="order-processing-container">
        <h2 class="order-processing-title">Order processing... please wait</h2>

        <div class="order-loading-box">
            <div>
                <div class="order-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
                <p class="order-loading-text">Loading order...</p>
                <span class="order-processing-message">
                    Your payment has been received. We are creating the order.
                </span>
            </div>
        </div>
        <div class="order-button-container">
            <button routerLink="/shop" class="button order-button">Continue shopping</button>
        </div>
    </div>
</section>
