<section class="order-confirmation">
    <div class="order-content">
        <h2 class="order-title">Thanks for your fake order!</h2>
        <p class="order-message">
            Your order <span class="order-number">#42</span>
            will never be processed as this is a fake shop. We will not notify you once your order has not shipped.
        </p>
        
        <div class="order-details">
            <dl class="order-row">
                <dt>Date</dt>
                <dd>20 Sep 2024</dd>
            </dl>
            <dl class="order-row">
                <dt>Payment method</dt>
                <dd>Visa</dd>
            </dl>
            <dl class="order-row">
                <dt>Address</dt>
                <dd>Address goes here</dd>
            </dl>
            <dl class="order-row">
                <dt>Amount</dt>
                <dd>$100</dd>
            </dl>
        </div>

        <div class="order-buttons">
            <button routerLink="/orders/42" mat-flat-button>View your order</button>
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>
    </div>
</section>
